.is-hidden {
    display: none;
}

body {}

.loader,
.error {
    text-align: center;
}

.breed-select {
    display: block;
    margin: auto;
    margin-bottom: 20;
    margin-top: 20;
}

.title {
    text-align: center;
}

.description {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

.temperament {
    max-width: 900px;
    margin: auto;
}

.image {
    display: block;
    margin-top: 20px;
    margin: auto;
}